.tagWrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 100%;
}

.tag {
  margin-right: 8px;
  flex-shrink: 0;
  padding: 2px 8px;
  background-color: #f5f6f8;
  color: #344054;
  border: unset;
}
.hiddenTag {
  background-color: #f9faff;
  color: #344054;
  margin-bottom: 4px;
}

.highlightTag {
  background-color: #f3f1ff;
  color: #5429ff;
}
