.warp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 690px;
  height: calc(100vh - 56px); /* 减去header和margin的高度 */
  padding: 24px;
  box-sizing: border-box;
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
}
.title {
  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 20px;
    margin-bottom: 8px;
  }
  img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  p {
    color: #27272a;
    font-size: 16px;
    font-weight: 400;
  }
}
.title_weight {
  background: linear-gradient(90deg, #4f4dff 50%, #007ae7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 8px;
}
.recommendText {
  margin: 54px 0 16px 0;
  color: #666;
  font-weight: 600;
  text-align: justify;
}

.more_model_warp {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Background-Primary-color-background-primary, #4f4dff);
  font-size: var(--Label-Lable-md-Size, 12px);
  font-style: normal;
  font-weight: 400;
  margin-bottom: 40px;
  img {
    width: 14px;
    height: 14px;
    margin-right: 8px;
  }
}
.button {
  :global(.ant-btn) {
    border-radius: 4px;
    font-size: 12px;
    padding: 0 48px;
    height: 36px;
    font-weight: 400;
    line-height: 36px;
  }
}
