.triggerContent {
  width: 100%;
  height: 100%;
  padding: 0 24px;

  .triggerIconContent {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid #e4e6eb;
  }
}
:global(.ant-layout-sider-children) {
  background: rgba(255, 255, 255, 0.5);
}
:global(.ant-layout-sider-trigger) {
  background: rgba(255, 255, 255, 0.5) !important;
}
