.modelSearch {
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  padding: 24px;
  margin-bottom: 24px;
  :global(.ant-card-body) {
    display: flex;
  }
  .searchInput {
    margin-right: 16px;
  }
  .searchIcon {
    cursor: pointer;
    position: absolute;
    right: 11px;
    height: 22px;
    padding-top: 3px;
  }
}
