.select_mcp {
}
.select_mcp_default {
  :global(.ant-btn) {
    border-color: #d4d4d9;
  }
  svg:hover {
    color: #4f4dff;
  }
}
.select_mcp_selected {
  :global(.ant-btn) {
    border-color: #4f4dff;
    background-color: #ebf0ff;
  }
}
.select_mcp_disabled {
  :global(.ant-btn) {
    border-color: #d4d4d9;
    background-color: #e4e4e7;
  }
}
.select_mcp_count_warp {
}

.select_mcp_title_warp {
  display: flex;
  align-items: center;
  justify-content: center;
}
.select_mcp_title_logo {
  margin-right: 8px;
  img {
    width: 40px;
    height: 40px;
    align-items: center;
    gap: 10px;
    aspect-ratio: 1/1;

    border-radius: 4px;
    border: 0.66px solid var(--border-color-border, #c1c6d6);
    background: #fff;
  }
}
.dialog_mcp {
  padding: 12px;
  width: 526px;
  box-sizing: border-box;
  :global(.ant-list-item) {
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
    transition: 0.2s;
    border: none;
  }
  :global(.ant-list-item):hover {
    background: #ebf0ff;
  }
}
.dialog_mcp_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: var(--Body-Body-lg-Line-Height, 24px); /* 150% */
  margin-bottom: 16px;
  :global(.ant-btn) {
    padding: 0;
  }
}
.dialog_mcp_search {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}
.searchIcon {
  display: flex;
  align-items: center;
}
.dialog_mcp_search_input {
  flex-grow: 1;
}
