.chat-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 230px);
}

.chat-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat-width {
  /* max-width: 800px; */
  width: 100%;
  margin: 0 auto;
}

.chat-message-area {
  flex: 1;
  overflow-y: auto;
}
.chat-message-list.ru-list {
  gap: 16px;
}

.chat-message-content-list.ru-list {
  gap: 16px;
}

.chat-divider {
  height: 1px;
  width: 100%;
  background-color: #ececec;
}

.chat-input-area {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #e7effb;
  padding-top: 8px;
  padding-bottom: 24px;
  z-index: 100;
}
.chat-input.ru-chat-input {
  border-color: #5429ff;
}

.user-bubble.ru-chat-bubble-body-content {
  background-color: #e7e1ff;
  color: #5429ff;
}

.ai-bubble.ru-chat-bubble-body-content {
  background-color: #fff;
  color: #000000;
  width: 100%;
}

.upload-file-item {
  position: relative;
  padding: 8px 12px;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  font-size: 12px;
  color: #344054;
  margin: 4px 0;
  display: inline-flex;
  align-items: center;
}

.upload-file-remove {
  position: absolute;
  right: -8px;
  top: 2px;
  transform: translateY(-50%);
  cursor: pointer;
}

.file-icon {
  width: 24px;
  height: 24px;
  padding: 4px;
  margin-right: 8px;
  border-radius: 4px;
  img {
    width: 100%;
    height: 100%;
  }
}
.uploading-icon,
.done-icon {
  background-color: #7b86ff;
}

.error-icon {
  background-color: #ffccc7;
}
