.serviceProviderTab {
  height: 100%;
  padding: 24px;
  :global(.ant-spin-nested-loading > div > .ant-spin) {
    top: 250px;
  }
  .container {
    height: 100%;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 24px;
  }
  .noDataIcon {
    img {
      width: 100px;
    }
  }
}

.titleBlock {
  color: #000115;
  font-family: 'PingFang SC';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 16px;
}

.btnBlock {
  display: flex;
  gap: 16px;
}

.linkA {
  color: #5429ff;
  &:hover {
    color: #5429ffcc;
  }
}
