.mcpDownloadBox {
  width: 100%;
  height: 100%;
  //padding: 16px;
  background-color: #ffffff;
  //border-radius: 8px;
  //box-shadow: 0 4px 12px 0 rgba(0, 1, 21, 0.2);
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 200px;
  .header {
    display: flex;
    height: 24px;
    justify-content: space-between;
    gap: 24px;
  }
  .title {
    display: flex;
    gap: 8px;
    color: #000000;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }
  .closeIcon {
    color: #9daabb;
    font-size: 16px;
    &:hover {
      color: #4f4dff;
    }
  }
  .mcpIcon {
    width: 24px;
    height: 24px;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    .contentItem {
      display: flex;
      flex-direction: column;
      padding: 8px;
      gap: 8px;
      cursor: pointer;
      .contentHeader {
        display: flex;
        align-items: center;
        gap: 8px;
      }
      .operate {
        display: flex;
        align-items: center;
        gap: 8px;
      }
      .contentStatus {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
        color: #898ea3;
        gap: 8px;
      }
      &:hover {
        background-color: #f5f8ff;
      }
    }
  }
}
