.modelSearch {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  .searchIcon {
    cursor: pointer;
    position: relative;
    right: 0;
    height: 22px;
    padding-top: 3px;
  }
}
.modelSelect {
  display: flex;
  align-items: center;
  justify-content: center;

  :global(.ant-select) {
    :global(.ant-select-selector) {
    }
    .ant-select-arrow {
      width: 16px;
      height: 16px;
      aspect-ratio: 1/1;
    }
  }
}
.modelTotalWarp {
  margin-left: 16px;
}
