.mcpCardList {
  width: 100%;
  height: calc(100% - 48px);
  overflow-y: auto;
  overflow-x: hidden;
  .loading {
    position: relative;
    top: 300px;
    width: 100%;
    text-align: center;
    img {
      width: 60px;
    }
  }
}
