.mcpTools {
  width: 100%;
  height: calc(100vh - 295px);
  background-color: #fff;
  padding: 24px;
  border-radius: 16px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  :global(.ant-list-item) {
    border-block-end: none;
  }
  :global(.ant-list-item:last-child){
    border-block-end: none !important;
  }
  .searchInput {
    //text-align: right;
    height: 40px;
  }
  .tollsContent {
    flex: 1;
    overflow-y: auto;
  }
  .collapseItemHeader {
    display: flex;
    flex-direction: column;
    color:#000000;
    flex: 1;
    .collapseItemTitle {
      font-size: 14px;
      line-height: 22px;
      font-weight: 600;
      display: flex;
      gap: 4px;
      align-items: center;
      min-width: fit-content;
      .collapseItemName {
        min-width: fit-content;
      }
    }
    .collapseItemDesc {
      font-size:12px;
      line-height: 20px;
      color: #898EA3;
    }
  }
}