.modelListContent {
  border-radius: 8px;
  height: calc(100vh - 198px);
  .modelCardList {
    width: 100%;
    height: calc(100% - 48px);
    overflow-y: auto;
    overflow-x: hidden;
  }
  :global(.ant-list-pagination) {
    margin-block-start: 0px;
  }
  .contentContainer {
    height: 100%;
  }
  .titlepath {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    line-height: 32px;
    .title {
      font-size: 16px;
      font-weight: 500;
      color: #000115;
    }
    .changePath {
      color: #5429ff;
      padding: unset;
      &:hover {
        background-color: unset;
        color: #5429ff;
      }
    }
    .changeFailed {
      margin-left: 8px;
    }
  }
  .pagination {
    margin-top: 8px;
    margin-top: 0 auto;
  }
  .noData {
    position: relative;
    top: 200px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #344054;
    img {
      width: 100px;
    }
  }
}

.loading {
  position: relative;
  top: 300px;
  width: 100%;
  text-align: center;
  img {
    width: 60px;
  }
}
