.modelPathModal {
  .tips {
    color: #344054;
  }
  .mark {
    font-weight: 600;
  }
  .modelPathInput {
    margin-top: 16px;
    margin-bottom: 48px;
    .pathTitle {
      width: 150px;
      line-height: 32px;
      .required {
        color: #ff4d4f;
        margin-right: 4px;
      }
    }
  }
  .pathValid {
    color: #ff4d4f;
  }
  .diskSpace {
    margin-left: 108px;
    color: #9da3bb;
    .diskCanUse {
      color: #5429ff;
    }
  }
}
