.serviceProviderTab {
  height: 100%;
  padding: 24px;
  overflow: hidden;
  :global(.ant-spin-nested-loading > div > .ant-spin) {
    top: 250px;
  }
  :global {
    .ant-table-wrapper {
      height: 100%;
      overflow: hidden;
    }
    /* 隐藏滚动条但保留滚动功能 */
    //.ant-table-body {
    //  scrollbar-width: none; /* Firefox */
    //  -ms-overflow-style: none; /* IE/Edge */
    //
    //  &::-webkit-scrollbar {
    //    display: none; /* Chrome/Safari/Edge */
    //  }
    //}
  }
  .container {
    height: 100%;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 24px 24px 0 24px;
    display: flex;
    flex-direction: column;
  }
  .noDataIcon {
    img {
      width: 100px;
    }
  }
}

.titleBlock {
  color: #000115;
  font-family: 'PingFang SC';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 16px;
}

.btnBlock {
  display: flex;
  gap: 16px;
}

.linkA {
  color: #4f4dff;
  &:hover {
    color: #4f4dffcc;
  }
}
