.personLogin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  .loginOperate {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .desc {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 10px;
      font-size: 12px;
      line-height: 20px;
      color: #9e9faa;
      .line {
        flex: 1;
        height: 1px;
        background-color: #e4e4e7;
      }
    }
    .operateType {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #18181a;
      font-size: 14px;
      line-height: 22px;
      
      .wechatType {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
      }
      .phoneType {
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 4px 16px;
        border: 1px solid #c1c6d6;
        border-radius: 999px;
        cursor: pointer;
        img {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
