.mcpOverview {
  width: 100%;
  //height: calc(100vh - 295px);
  height: 100%;
  overflow: auto;
  background-color: #fff;
  padding: 24px;
  border-radius: 16px;
  margin-top: 16px;
  max-width: 100%; // 限制最大宽度
  word-wrap: break-word; // 自动换行
  overflow-wrap: break-word; // 兼容性换行
  word-break: break-all;
  line-height: 30px;
  img {
    max-width: 100%;
  }
  .test {
    height: 100%;
  }
  //pre, code {
  //  white-space: pre-wrap; /* 保留空白符但允许换行 */
  //  word-wrap: break-word; /* 允许长单词或URL换行 */
  //  overflow-x: auto; /* 水平滚动条仅在需要时显示 */
  //}
  /* 针对代码块 */
  pre {
    overflow-x: auto;
    white-space: pre;
    word-wrap: normal;
  }

  /* 针对行内代码 */
  code {
    white-space: pre-wrap;
    word-break: break-all;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  ul,
  ol {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
  }
  li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
    white-space: normal;
    word-wrap: break-word;
    word-break: normal;
  }
  h2 {
    font-size: 24px;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 16px;
  }
  p {
    width: 100%;
    white-space: normal;
    word-wrap: break-word;
    word-break: normal;
    margin-top: 0;
    margin-bottom: 16px;
  }
}
