.modelChangeTab {
  padding: 24px;
  width: 100%;
  .card {
    position: relative;
    border: unset;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15),
      0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  }
  .title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
  }
  .content {
    color: #344054;
  }
  .modelSwitch {
    position: absolute;
    right: 24px;
    top: calc(50% - 16px);
  }
}
